/javaGIT/nbproject/private/
/validacion_cedula/nbproject/private/
/validacion_cedula/build/
/javaGIT/build/
/serie/nbproject/private/
/serie/build/
/tokens/nbproject/private/
/tokens/build/
/Trabajadores/nbproject/private/
/Trabajadores/build/
/ConexionBDD/nbproject/private/