/javaGIT/nbproject/private/
/validacion_cedula/nbproject/private/
/validacion_cedula/build/
/javaGIT/build/
/serie/nbproject/private/
/serie/build/
/tokens/nbproject/private/
/tokens/build/
/Trabajadores/nbproject/private/
/Trabajadores/build/
/ConexionBDD/nbproject/private/
/ConexionBDD/build/
/Herencias/nbproject/private/
/dimensiones/nbproject/private/
/dimensiones/build/
/Herencias/build/
/Trabajo_en_clase_empleado/build/
/dibujo/nbproject/private/
/Trabajo_en_clase3/build/
/Trabajo_en_clase3/nbproject/private/